extends layout.pug

block vars
  - var title=page.title
  - var site_name=site.name
  - var description=page.title

block content
  div(class="container")
    div(class="row")
      div(class="col-md-10 col-md-offset-1")
        h1=page.title
        div(class="post-content")
          !=page.rendered
