extends layout

block vars
  - var title="Editing Image"

block content
  - var delete_link = '/dash/media/delete/' + image.id
  div(class="row-fluid")
    div(class="col-md-8 col-md-offset-2")
      div(class="row-fluid")
        div(class="col-md-8")
          div(class="thumbnail")
            img(class="img-responsive" src=image.path)
        div(class="col-md-4")
          form(method="post" enctype="multipart/form-data")
            div(class="form-group")
              label(for="name") Name
                input(type="text" class="form-control" name="name" value=image.name id="name" readonly="true")
            div(class="form-group")
              label(for="name") File
                input(type="file" name="image" id="image")
            div(class="form-group")
              div(class="btn-group")
                button(class="btn btn-default" type="submit") Update
                a(class="btn btn-primary" href=image.path target="_blank") View Fullsize
            div(class="form-group")
              div(class="btn-group")
                a(class="confirm btn btn-danger" href=delete_link) Delete
  script.
    $(document).on("change", "#image", function() {
      let image_name = $("#image").val().replace(/C:\\fakepath\\/i, '')
      $("#name").val(Date.now() + image_name);
    });
    $(function() {
      $(".target-active").find('[href="/dash/media"]').parent().addClass("active");
    });
    $('.confirm').confirm({
      title: 'Are you sure?',
      text: 'Are you sure you would like to delete this image? This cannot be undone',
    });
