extends layout.pug

block vars
  - var title='Pages'
  - var description='Compose a new post'

block content
  div(class="row-fluid")
    div(class="col-md-8 col-md-offset-2")
      div(class="row form-group")
        h1 Pages
        a(class="btn btn-default" href="/dash/pages/new")
          <i class="fa fa-plus"></i>&nbsp; Add
      div(class="row form-group")
        div(class="table-responsive")
          table(class="table")
            tr
              th Title
              th View
              th Edit
              th Delete
            for page in pages
              - var page_edit_url = '/dash/pages/edit/' + page.id
              - var page_url = '/s/' + page.url
              - var page_delete_url = '/dash/pages/delete/' + page.id
              tr
                td=page.title
                td
                  a(class="btn btn-default" href=page_url)
                    <i class="fa fa-eye"></i>&nbsp; View
                td
                  a(class="btn btn-primary" href=page_edit_url)
                    <i class="fa fa-pencil-square-o"></i>&nbsp; Edit
                td
                  a(class="confirm btn btn-danger" href=page_delete_url)
                    <i class="fa fa-trash-o"></i>&nbsp; Delete
  script.
    $(function() {
      $(".target-active").find('[href="/dash/pages"]').parent().addClass("active");
    });
    $('.confirm').confirm({
      title: 'Are you sure?',
      text: 'Are you sure you would like to delete this page? This cannot be undone',
    });
