extends layout

block vars
  - var title='Site Settings'
  - var description='Created posts'

block content
  div(class="row-fluid")
    div(class="col-md-8 col-md-offset-2")
      div(class="panel panel-default")
        div(class="panel-heading")
          h4 Site Settings
        div(class="panel-body")
          form(method="post")
            div(class="form-group")
              label(for="site_name") Site Name
              input(type="text" class="form-control" name="site_name" value=site.name)
            button(type="submit" class="btn btn-default")
              <i class="fa fa-save"></i>&nbsp; Update
    script.
      $(function() {
        $(".target-active").find('[href="/dash/settings"]').parent().addClass("active");
      });
